<!DOCTYPE html>
<html lang="uk">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/style.css">
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <title>Завдання 3</title>
</head>

<style>
   .speed-tester {
      display: grid;
   }

   .speed-tester:not(:last-child) {
      margin-bottom: 1.25rem;
   }

   .low {
      background-color: orange;
   }

   .normal {
      background-color: green;
   }

   .danger {
      background-color: red;
   }
</style>

<body>
   <div id="app">
      <div class="block">
         <div class="block__container">
            <div class="speed-tester">
               <label class="label">
                  <input type="number" class="input" v-model="speedLimit">
               </label>
               <label class="label">
                  <input type="number" :class="['input', { [currentColor]: isDataValid }]" v-model="currentSpeed" :disabled="!speedLimit">
               </label>
            </div>
            <div>{{currentSpeedRate}}%</div>
            <div v-show="isAlertVisible">Увага!</div>
         </div>
      </div>
   </div>
   <script>
      const { createApp } = Vue

      const INTERVAL_MS = 1000

      const app = createApp({
         data() {
            return {
               speedLimit: null,
               currentSpeedValue: null,
               isAlertVisible: false,
               intervalId: null,
            }
         },

         computed: {
            currentSpeed: {
               get() {
                  return this.currentSpeedValue
               },

               set(newVal) {
                  if (newVal >= 0) this.currentSpeedValue = newVal
                  if (this.currentSpeedRate > 90) this.startDisplayAlert()
                  else this.stopDisplayAlert()
               }
            },

            currentSpeedRate() {
               return this.currentSpeedValue * 100 / this.speedLimit || 0
            },

            isDataValid() {
               return this.currentSpeedValue && this.speedLimit
            },

            currentColor() {
               let currentClass = null

               if (this.currentSpeedRate < 50) currentClass = 'low'
               else if (this.currentSpeedRate <= 100) currentClass = 'normal'
               else currentClass = 'danger'

               return currentClass
            }
         },

         methods: {
            startDisplayAlert() {
               if (!this.intervalId) {
                  this.intervalId = setInterval(() => {
                     this.isAlertVisible = !this.isAlertVisible
                  }, INTERVAL_MS)
               }
            },

            stopDisplayAlert() {
               if (this.intervalId) {
                  clearInterval(this.intervalId)
                  this.isAlertVisible = false
                  this.intervalId = null
               }
            },
         }
      })

      app.mount('#app')
   </script>
</body>

</html>